In [1]:
import pandas as pd
from sklearn.impute import SimpleImputer
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from  sklearn.preprocessing import OrdinalEncoder
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_validate
from  sklearn.metrics import *
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn import tree
from sklearn import model_selection
import plotly.express as px
import rfpimp
import pickle

/Users/Anti/.pyenv/versions/3.6.10/envs/data-science/lib/python3.6/site-packages/sklearn/utils/deprecation.py:144: FutureWarning:

The sklearn.ensemble.forest module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.ensemble. Anything that cannot be imported from sklearn.ensemble is now part of the private API.

In [2]:
df = pd.read_csv("../data/clean/clean_encoded.csv")

In [3]:
df.head()

,age,campaign,pdays,previous,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y,...,month_oct,month_sep,day_of_week_fri,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_failure,poutcome_nonexistent,poutcome_success
0,56,1,231,0,11,93.994,364,4.857,51910,0,...,0,0,0,1,0,0,0,0,1,0
1,57,1,231,0,11,93.994,364,4.857,51910,0,...,0,0,0,1,0,0,0,0,1,0
2,37,1,231,0,11,93.994,364,4.857,51910,0,...,0,0,0,1,0,0,0,0,1,0
3,40,1,231,0,11,93.994,364,4.857,51910,0,...,0,0,0,1,0,0,0,0,1,0
4,56,1,231,0,11,93.994,364,4.857,51910,0,...,0,0,0,1,0,0,0,0,1,0

In [4]:
X = df.drop("y", axis=1)
y = df.y

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [6]:
rfc = RandomForestClassifier()
rfc.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [7]:
y_pred = rfc.predict(X_test)

In [8]:
accuracy_score(y_test, y_pred)

0.8876881981544439

In [9]:
pickle.dump(rfc, open('../models/RandomForestClassifier.model', 'wb'))

In [11]:
loaded_rfc = pickle.load(open('../models/RandomForestClassifier.model', 'rb'))

In [ ]:
sample = ["..."]

In [ ]:
loaded_rfc.predict([sample])